<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("logo"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), home_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("users_t"), "#" %></li>
          <li class="dropdown">
            <%= link_to "#", id: "account", class: "dropdown-toggle", "data-bs-toggle": "dropdown" do %>
              <%= t("account") %> <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu" id="dropdown-menu">
              <li><%= link_to t("profile"), current_user %></li>
              <li><%= link_to t("settings"), "#" %></li>
              <li class="divider"></li>
              <li><%= link_to t("logout"), logout_path, data: {turbo_method: :delete} %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="language-switcher">
    <%= link_to t("english"), locale: :en %>
    <%= link_to t("vietnamese"), locale: :vi %>
  </div>
</header>
